<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Reading Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Risk:</ion-col>
      <ion-col>{{reading.risk === 0 ? 'LOW' : reading.risk === 1 ? 'MEDIUM' : 'HIGH' }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>You have a: </ion-col>
      <ion-col>{{reading["8way_results"] === 0 ? 'MELANOMA' : reading["8way_results"] === 1 ? 'NEVUS' : reading["8way_results"] === 2 ? 'BASAL CELL CARCINOMA' : reading["8way_results"] === 3 ?  'ACTINIC KERATOSIS' : reading["8way_results"] === 4 ? 'SOLAR LENTIGO' : reading["8way_results"] === 5 ? 'DERMATOFIBROMA' : reading["8way_results"] === 6 ? 'VASCULAR LESION' : 'SQUAMOUS CELL CARCINOMA'}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
