<ion-header>
  <ion-toolbar>
    <ion-title>
      Melanoma Detector
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-title>
  Click on Photos <br> to review your readings <br> and make new ones!
</ion-title>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab2">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-button button (click)="logout()" >
      <ion-icon name="person" ></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-button>

  </ion-tab-bar>

</ion-tabs>
